<body>
	<!-- Header -->
	<header>
      <div class="container cleafix">
        <nav class="navbar">
        	<div class="logo">
      			<a href="#"><%= image_tag "img/logo.png", class: "logo"  %></a>
      		</div>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-list">Portfolio</li>
              <li class="nav-list">Feature</li>
              <li class="nav-list">Profile</li>
              <li class="nav-list">Contact</li>
            </ul>
        </nav>
      </div>
    </header>
    <!-- Main Visual -->
	<section id="mv">
		<div class="container">
			<h1 id="mv-title">Lorem Ipsum</h1>
			<p>simply dummy text of the printing</p>
		</div>
	</section>
	<!-- Portfolio -->
	<section id="portfolio">
		<div class="container">
			<h2 id="portfolio-title">Portfolio</h2>
			<p>It is a long established fact that a reader will be distracted by the readable<br>
				content of a page when looking at its layout.<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
			</p>
			<div class="portfolio-images clearfix">
				<div class="portfolio-image img1 sp-none"></div>
				<div class="portfolio-image img2"></div>
				<div class="portfolio-image img3 sp-none"></div>
				<div class="portfolio-image img4"></div>
				<div class="portfolio-image img5 sp-none"></div>
				<div class="portfolio-image img6"></div>
			</div>
		</div>
	</section>
	<!-- Feature -->
	<section class="feature">
		<div class="container">
			<h2 id="feature-title">Feature</h2>
			<p id="feature-p">It is a long established fact that a reader will be distracted by the readable<br>content of a page when looking at its layout.<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
			</p>
			<div class="strength-group">
				<div class="strength">
					<i class="fa fa-code"></i>
					<h3>Strength1</h3>
					<p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
					</p>
				</div>
				<div class="strength">
					<i class="fa fa-desktop"></i>
					<h3>Strength2</h3>
					<p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
					</p>
				</div>
				<div class="strength">
					<i class="fa fa-cogs"></i>
					<h3>Strength3</h3>
					<p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Profile -->
	<section class="profile">
		<div class="container">
			<h2 id="feature-title">Profile</h2>
			<p>It is a long established fact that a reader will be distracted by the readable<br>
				content of a page when looking at its layout.<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
			<div class="profile-group clearfix">
				<div class="left-content">
					<div class="profile-pic">
					</div>
				</div>
				<div class="right-content">
					<h3><strong>MyName</strong></h3>
					<p class="profile-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
					<h3><strong>MySkills</strong></h3>
					<p class="profile-p">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
				</div>
			</div>
		</div>
	</section>
	<section class="contact">
		<div class="container">
			<h2 id="contact-title">Contact</h2>
			<p>It is a long established fact that a reader will be distracted by the readable<br>
				content of a page when looking at its layout.<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
			<div class="contact-group clearfix">
				<div class="left-content">
					<h3 class="contact-h3"><strong>Mail</strong></h3>
					<p>xxx@xxx.com</p>
					<h3 class="contact-h3"><strong>Tel</strong></h3>
					<p>000-0000-0000</p>
				</div>
				<div class="right-content">
					<h3><strong>SNS</strong></h3>
					<i class="fa fa-facebook"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-instagram"></i>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer>
		<div class="container">
			<p id="copyright">©︎ 2017 WebCamp</p>
		</div>
	</footer>
</body>