<body>
	<!-- Header -->
	<header>
      <div class="container cleafix">
        <a><img class="logo" src="img/logo.png"></a>
        <nav class="navbar navbar-fixed-top">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-list">Portfolio</li>
              <li class="nav-list">Feature</li>
              <li class="nav-list">Profile</li>
              <li class="nav-list">Contact</li>
            </ul>
        </nav>
      </div>
    </header>
    <!-- Main Visual -->
	<section id="mv">
		<div class="container">
			<h1 id="mv-title">Lorem Ipsum</h1>
			<p>simply dummy text of the printing</p>
		</div>
	</section>
	<!-- Portfolio -->
	<section id="portfolio">
		<div class="container">
			<h2 id="portfolio-title">Portfolio</h2>
			<p>It is a long established fact that a reader will be distracted by the readable<br>
				content of a page when looking at its layout.<br>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
			</p>
			<div class="portfolio-images">
				<div class="portfolio-image img1"></div>
				<div class="portfolio-image img2"></div>
				<div class="portfolio-image img3"></div>
				<div class="portfolio-image img4"></div>
				<div class="portfolio-image img5"></div>
				<div class="portfolio-image img6"></div>
			</div>
		</div>
	</section>
</body>